@import "../../vars";

.FancyHeadline {
  color: $primary;
  text-align: center;
  margin: 0 auto $spacing auto;
  font-size: 3rem;

  h1 {
    margin: 0 auto;
  }

  &_cutr {
    font-family: 'ZCOOL XiaoWei', 'sans-serif';
    font-weight: 400;
    font-size: 1.05em;
  }

  &_yt {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-weight: 550;
    padding-left: $spacing_s;

  }

  &--small {
    font-size: 2.5rem;
  }
}