@import "../../vars";

.SubmitControls_submit {
  font-size: 1.4rem;
  margin-bottom: $spacing;
  border-radius: 4px;
  padding: $spacing_s;
  display: block;

  background-color: $primary;
  border: none;
  color: #fff;

  text-decoration: none;
  text-align: center;
}