@import '../../vars';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400|ZCOOL+XiaoWei&display=swap');

// some defaults
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
}

body {
  max-width: 100%;

  @media screen and (min-width: $maxWidth) {
    margin: 0 auto;
    max-width: $maxWidth;
  }
}

input, button {
  width: 100%;
  margin-bottom: $spacing;
  border-radius: 4px;
  padding: $spacing_s;
}

a {
  color: $primary;
  font-size: 1.2rem;
}

input {
  border: 2px solid $primary;
  font-size: 1rem;
}

button {
  background-color: $primary;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}

// Layout styles
.Layout {
  display: flex;
  flex-flow: row wrap;
  padding: 0 $spacing $spacing $spacing $spacing;

  .URLControls {
    flex: 0 0 100%;
    padding-bottom: $spacing_l;
    &--big {
      min-height: 60px;
      padding: $spacing;
      input {
        font-size: 2rem;
        text-align: center;
      }
    }
  }

  .Controls {
    flex: 0 0 100%;

    &_gitlab {
      margin-top: 1.5rem;
      float: right;
    }
  }

  .Player {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: $breakpoint) {
  .Layout {
    justify-content: space-between;

    .Controls {
      flex: 0 0 150px;
    }

    .Player {
      flex: 1 1 250px;
      > div {
        margin-left: auto;
      }
    }
  }
}
