@import '../../vars';

.rewind {
  position: absolute;
  height: 64px;
  width: 64px;
  top: -70px;
  right: 0px;
  
  &_wrapper {
    position: relative;
    width: 100%;
  }

  &_svg {
    fill: $primary;
    color: $primary;
  }

  &--active {
    display: block;
    opacity: 1;
    transition: opacity 700ms ease-in-out 700ms;
  }

  &--hidden {
    display: none;
    opacity: 0;
    transition: opacity 700ms ease-in-out 700ms;
 }
}